@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
  background-color: #a39baf;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  position: relative;
  display: flex;
  background-color: #e3d7f4;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  height: 31rem;
  width: 40rem;
}

p{
  margin: 0;
}

.nav--menu{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 15px;
  border-radius: 10px;
  width: 35%;
  max-width: 300px;
}

.user--profile{
  display: flex;
  align-items: center;
  column-gap: .4rem;
  margin-bottom: 2rem;
  padding: 10px;
}

.user--profile img{
  grid-row: span 2;
  width: 3rem;
}

.user--info{
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  row-gap: 2px;
}

.nav--list{
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  color: #c8b7c4;
  row-gap: 5vh;
}
.list--element{
  padding: .6rem;
  font-size: .95rem;
  text-align: center;
  background-color: white;
  border: none;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  letter-spacing: inherit;
}

.list--element:hover{
  background-color: #f1e8fd;
}

.main{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  margin-inline: 25px;
  flex-grow: 1;

}

.logo{
  color: white;
  font-weight: 500;
}

.main--title{
  margin-top: 20px;
  color: white;
  justify-self: center;
  display: block;
  align-self: center;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.tasks--list{
  list-style: none;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

input{
  color: blue;
  text-decoration-color: aqua;
}

.add-task--btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  bottom: 10%;
  right: 5%;
  background-color: white;
}

.cross{
  align-self: center;
}

.horizontal{
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #e3d7f4;
  border-radius: 3px;
}

.vertical{
  width: 20px;
  height: 3px;
  background-color: #e3d7f4;
  border-radius: 3px;
  transform: rotate(90deg);
}